body {
    font-family: sans-serif;
  }


img {
  display: none;
}

strong {
	font-weight: normal;
	font-size: 16px;
}

h1, h3, strong, p {
	color: white;
}

#home {
	width: 100%;
}

div {
	margin: 5%;
	text-align: center;
}

div h3 {
	margin: 2%;
}

div input {
	margin: 0.5%;
}

#adminBoard {
	display: none;
}

#touchCommand {
	display: none;
}
